<!DOCTYPE html>
<html>
<head>
    <title>Kullanıcı Oluştur</title>
</head>
<body>
<h1>Kullanıcı Oluştur</h1>

<form id="userForm">
   
    <button type="submit">ürünleri Oluştur</button>
</form>

<h2>Kullanıcı Bilgileri</h2>
<div id="userData"></div>

<script src="~/js/site.js">
       
    </script>
</body>
</html>